/*-------------------------------------
 * customize material design icon sizes 
 *-------------------------------------
 */

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons {
    cursor: pointer;
}

.navbar {
    background-color: #A27B5C;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
}

.btn {
    background-color: #3F4E4F;
    color: #fff;
}

body {
    background-color: #DCD7C9;
}